<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
		<title>{% block title %}Mini-CMS{% endblock %}</title>
	</head>
	<body style="padding-top: 100px;">
		<div class="container">
		
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<ul class="nav navbar-nav">
					{% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       		<span class="glyphicon glyphicon-user"></span> Welcome, {{ app.user.username }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        {% block navlink %}
                        	{% if is_granted('ROLE_ADMIN') %}
                        	<li><a href="{{ path('mini_cms_backend_home') }}">Administration</a></li>
                        	{% endif %}
                        {% endblock navlink %}
                        	<li><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
                        </ul>
                   </li>
                   {% else %}
                   <li class="dropdown">
                   		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                	        <span class="glyphicon glyphicon-user"></span> Not connected <b class="caret"></b></a>
                        <ul class="dropdown-menu">
      	                  <li><a href="{{ path('fos_user_security_login') }}">Log in</a></li>
                        </ul>
                   </li>        
                   {% endif %}
                   {% block navigation %}
						<li><a href="{{ path('mini_cms_frontend_home') }}register">Register</a></li>
				   {% endblock %}
				</ul>
			</nav>
			
			{% block body %}
			
				{% for key, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
      				<div class="alert alert-{{ key }}">
       				 {{ message|trans({}, 'FOSUserBundle') }}
      				</div>
                    {% endfor %}
                {% endfor %}
			
			    {% block fos_user_content %}
			
			    {% endblock fos_user_content %}	
			
			{% endblock %}
				
			<hr>
		
			<footer>
				<p>This mini-CMS was created as part of <a href="https://openclassrooms.com">OpenClassroom</a> course's</p>
			</footer>
		</div>
		{% block script %}
		<!-- jQuery -->
    	<script src="{{ app.request.basepath }}/bundles/minicms/jquery/jquery.min.js"></script>
   		<!-- JavaScript Boostrap plugin -->
    	<script src="{{ app.request.basepath }}/bundles/minicms/bootstrap/js/bootstrap.min.js"></script>
    	{% endblock %}	
	</body>
</html>

