{% extends 'MiniCMSBundle:Backend:form.html.twig' %}

{% block title %}
	Edit page - {{ parent() }}
{% endblock %}

{% block form %}
		{% if versioning %}
		<a href="{{ path('mini_cms_backend_list_versions', {'slug': page.slug}) }}" class="btn btn-default">
			<i class="glyphicon glyphicon-time"></i>
			Back to another version
		</a>
		{% endif %}
	    <a href="{{ path('mini_cms_backend_delete', {'slug': page.slug}) }}" class="btn btn-danger">
	    	<i class="glyphicon glyphicon-trash"></i>
	    	Delete
		</a>
{% endblock form %}

{% block body %}
	<h1>Edition of "{{ page.title }}"</h1>
	
	{{ parent() }}	
{% endblock %}