{% extends 'MiniCMSBundle::layout.html.twig' %}

{% block title %}
	Administration - {{ parent() }}
{% endblock %}
	
{% block navlink %}
	<li><a href="{{ path('mini_cms_frontend_home') }}">Homepage Site</a></li>
{% endblock %}
	
{% block navigation %}
	<li><a href="{{ path('mini_cms_backend_home') }}">Admin Home</a></li>
	<li><a href="{{ path('mini_cms_backend_add') }}">Add page</a></li>
	<li><a href="{{ path('mini_cms_backend_addCategory') }}">Add category</a></li>
{% endblock %}
