{% extends 'MiniCMSBundle:Backend:layout.html.twig' %}

{% block title %}
	Version of {{ version.title }} - {{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}
	
	<p>
		<h1>{{ version.title }}</h1> 
		
		updated on {{ version.dateUpdate|date('m/d/Y h:i') }}
	</p>
	
	<div class="well">
		{{ version.content|raw }}
	</div>
	
	<a href="{{ path('mini_cms_backend_list_versions', {'slug': version.page.slug}) }}" class="btn btn-default">
		<i class="glyphicon glyphicon-chevron-left"></i>
		Back to the list
	</a>
	
	
	<a class="btn btn-success" onclick='document.getElementById("form").submit()'>
		<i class="glyphicon glyphicon-ok"></i>
		Apply this version
	</a>
	
	<form method="post" action="{{ path('mini_cms_backend_view_version', {'id' : version.id}) }}" id="form">
	</form>
	
{% endblock %}